.main-wrapper {
  height: 100%;
  .ant-layout-content {
  }
  .ant-layout-content,
  .ant-layout-footer {
    background-color: #f5f6f9;
  }
  .ant-layout-footer {
    border-top: 1px solid #e3eaef;
  }
  .ant-layout-sider {
    background-color: #fff;
    .ant-menu-sub {
      .ant-menu-item {
        span {
          font-size: 12px;
        }
      }
    }
  }
}
